header {
  background-color: #D33A2C;
}

header img {
  background-color: #D33A2C;
  margin: 25px 10px 10px 40px;
}

header ul li {
  display: inline;
  margin: 0px 8px;
  padding: 15px 15px;
  border-radius: 10px;
  
}

header ul li:hover {
  background-color: #00000033;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}

.more:hover {
  background-color: #00000066;
}

.more a {
  margin-right: 20px;
}

.more {
  background-image: url(https://www.smashingmagazine.com/images/icons/menu-cat.svg);
  background-repeat: no-repeat;
  background-size: 35px;
  padding: 15px 18px;
  background-color: #00000033;
  background-position: right;
}

header input {
  padding: 16px 75px;
  border-radius: 10px;
  border: 1px solid white;
  margin-left: 40px;
  background: url(https://www.edo.io/static/img/search.png) no-repeat;
  background-size: 25px;
  background-position: 15px center;
  background-color: white;
}

.center-section {
 display: flex;
}

.left-section {
  margin: 100px 0 0 100px;
  width: 50%;
}

.left-section-flex {
  display: flex;
  margin-bottom: 35px;
}

.photo-kelvin img {
  width: 157px;
  margin-right: 30px;
  border-radius: 20px;
  border: 7px solid #D33A2C;
  transform: rotate(-10deg);
}

.photo-kelvin img:hover {
  transform: rotate(0deg);
}

.photo-noam img,
.photo-suzanne img {
  width: 100px;
  margin-right: 20px;
  transform: rotate(-10deg);
  border-radius: 20px;
  border: 5px solid #D33A2C;
}

.word-noam h5,
.word-suzanne h5,
.word-kelvin h5 {
  margin-bottom: 30px;
}

.word-noam h5 a,
.word-suzanne h5 a,
.word-kelvin h5 a {
  color: #D33A2C;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

.photo-suzanne img:hover,
.photo-noam img:hover {
  transform: rotate(0deg);
}

.word-kelvin h5 span {
  color: rgb(175, 172, 172);
  font-size: 16px;
  font-family: cursive;
}

.word-kelvin h1 {
  color: #333333;
  font-size: 40px;
  font-weight: 900;
  font-family: cursive;
  margin-bottom: 20px;
}

.word-noam h5 span,
.word-suzanne h5 span,
.word-kelvin h4 span {
  color: #666666;
}

.bus-word,
.word-kelvin h4 a {
  color: #666666;
  font-family: monospace;
  font-weight: 900;
  font-size: 18px;
  margin-left: 5px;
}

.text-left p {
  color: #333333;
  font-size: 21px;
  margin-bottom: 40px;
}

.title-con a {
  color: #D33A2C;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 700;
}

.title-con {
  margin-bottom: 70px;
}

.word-noam h1,
.word-suzanne h1 {
  color: #333333;
  font-size: 32px;
  font-weight: 900;
  font-family: cursive;
  margin-bottom: 60px;  
}

.right-section {
  margin: 0 0 0 113px;
  position: relative;
}

.right-section img {
  margin: 30px 0 0 61px;
  width: 250px;
  position: absolute;
}

.back-color {
  background-color: #d4f2fe;
  width: 370px;
  margin-top: 148px;
  border-radius: 12px;
}

.smash-div {
  background-color: white;
  margin: 125px 0 0 35px;
  width: 300px;
  padding: 10px 40px;
  border: none;
  border-radius: 12px;
}

.smash-div a {
  text-decoration: none;
  color: #D33A2C;
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 800;
}

.smash-use {
  font-size: 28px;
  font-family: sans-serif;
  font-weight: 600;
  margin: 40px 32px;
}

.back-color p {
  color: #333333;
  font-size: 20px;
  margin: 40px 32px;
}

.smash-but1 {
  padding: 22px 0px;
  margin-left: 32px;
  border: none;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.smash-but2 {
  padding: 14px 19px 19px 15px;
  border: none;
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
  background-color: #0168b8;
  margin-left: -3px;
}

.smash-but2 a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: 800;
}

.finish-w1 {
  color: #666666;
  font-family: cursive;
  margin-top: 30px;
  font-size: 13px;
  text-align: center;
  padding-bottom: 50px;
}

.finish-w1 a {
  color: #666666;
  font-family: cursive;
  /* text-decoration: none; */
  font-size: 13px;
}

.title-see {
  border-bottom: 3px solid #D33A2C;
  width: fit-content;
  margin-left: 560px;
  padding-bottom: 8px;
  font-size: 15px;
}